{% extends 'auth/base.html' %}
{% block body %}
<div class="container">
        <div class="col-md-7 col-lg-8 mt-5">
            <h4 class="mb-3">Fill your Form</h4>
            <form class="needs-validation" action="{% url 'bookLendForm' %}" method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="full_name" class="form-label">Full Name</label>
                        <input name="full_name" type="text" class="form-control" id="full_name" placeholder="Full Name">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        <input name="phone_number" type="text" class="form-control" id="phone_number" placeholder="Phone Number" required="">
                    </div>

                    <div class="col-sm-12">
                        <label for="address" class="form-label">Address</label>
                        <input name="address" type="text" class="form-control" id="address" placeholder="Address">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-3">
                        <button class="w-100 btn btn-info btn-lg text-black" type="submit">Confirm</button>
                    </div>
            </form>
        </div>
</div>
{% endblock body %}